<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.musan.googlelocationlistenner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cpik2003"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Home_Activity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.GoogleSignInActivity"
            android:label="@string/label_google_sign_in"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Activity" />
        </activity>
        <activity
            android:name=".GPS_folder.Google_MapsActivity"
            android:label="@string/title_activity_google__maps" />
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".GPS_folder.Location_tester_activity"
            android:label="@string/app_name"
            android:parentActivityName=".Home_Activity" />
        <activity
            android:name=".Tab_action_Activity"
            android:label="@string/title_activity_tab_action_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Auth.ChooserActivity"
            android:parentActivityName=".Home_Activity" />
        <activity
            android:name=".Auth.FacebookLoginActivity"
            android:label="@string/label_facebook_login"
            android:parentActivityName=".Home_Activity" />
        <activity
            android:name=".Auth.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:parentActivityName=".Home_Activity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Auth.PasswordlessActivity"
            android:label="@string/label_passwordless"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="your-project-id.firebaseapp.com"
                    android:scheme="https" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Auth.PhoneAuthActivity"
            android:label="@string/action_sign_in"
            android:parentActivityName=".Home_Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Auth.AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth"
            android:parentActivityName=".Home_Activity" />
        <activity
            android:name=".Auth.FirebaseUIActivity"
            android:label="@string/label_firebase_ui"
            android:parentActivityName=".Home_Activity" />

        <!-- Facebook Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:parentActivityName=".Home_Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".DataBase_java.DataBase_MainActivity"
            android:label="@string/news_feed"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Activity" />
        </activity>
        <activity android:name=".DataBase_java.PostDetailActivity" />
        <activity android:name=".DataBase_java.NewPostActivity" />
        <activity
            android:name=".DataBase_java.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.musan.googlelocationlistenner.Home_Activity" />
        </activity>
        <activity
            android:name=".teachers_folder.Fragment_MainActivity"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home_Activity" />
        </activity>
        <activity
            android:name=".teachers_folder.Custome_Fragment_Activity"
            android:label="Teachers List"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.musan.googlelocationlistenner.Home_Activity" />
        </activity>

        <receiver
            android:name=".reminder_Folder.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Wrb_View_folder.Web_View_Activity"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.musan.googlelocationlistenner.Home_Activity" />
        </activity>
        <activity
            android:name=".Wrb_View_folder.Cpik_Web_Activity"
            android:parentActivityName=".Home_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.musan.googlelocationlistenner.Home_Activity" />
        </activity>
        <activity
            android:name=".Wrb_View_folder.BTEB_Notification_ScrollingActivity"
            android:label="@string/title_activity_bteb__notification__scrolling"
            android:parentActivityName=".Home_Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.musan.googlelocationlistenner.Home_Activity" />
        </activity>
        <activity
            android:name=".ML_Kit_Folder.BITMAP_ConVerter"
            android:parentActivityName=".Home_Activity" />
        <activity android:name=".ML_Kit_Folder.Camera_activity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".GPS_folder.MyLocationUsingHelper"
            android:label="MyLocation"></activity>
        <!--teachers activity -->
        <activity android:name=".GPS_folder.MyLocationUsingLocationAPI"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Computer"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Instructor"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Marine"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Electrical"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Civil"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Staff"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Textile"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Telecommunication"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Medical"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Mechanical"></activity>
        <activity android:name=".teachers_folder.Depertments_Folder.Electronics"></activity>
    </application>

</manifest>